# /public_html/.htaccess
<IfModule mod_rewrite.c>
 RewriteEngine On
    RewriteCond %{HTTP_HOST} ^(www\.)?pim-fairliar\.com$ [NC]
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>